<mat-toolbar color="primary">
  <mat-toolbar-row color="primary">
    <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="header-title">Shopping reader</a>
    <span class="example-spacer"></span>
    <a [routerLink]="['/accounts/login']" routerLinkActive="router-link-active" mat-raised-button>Login</a>
    <a [routerLink]="['/accounts/register']" routerLinkActive="router-link-active"  mat-raised-button>Register</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>